// Recommended style for tables if you are
// using the default style.css file of
// the simpages project

table, th, tr, td {
  width: 100%;
}

table {
  border: solid 1px black;
  border-right: none;
  text-align: center;
}

th, td {
  border-right: solid 1px black;
}

td {
  border-top: solid 1px black;
}
